body {
    margin: 0;
    background: black;
    background-size: cover;
    font-family: Arial;
    overflow: hidden;
}

#cameraContainer {
    position: fixed;
    inset: 0;
    overflow: hidden;
}

#camera {
    position: absolute;
    border-radius: 20px;
    inset: 0;
    margin-top: 30px;
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#switchBtn {
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.455);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#canvas {
    display: none;
}

#ui {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.topbar {
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: auto;
}

.sliderBox {
    position: absolute;
    bottom: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: auto;
    z-index: 1000;
}

#zoomSlider {
    width: 60%;
}

.bottombar {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: auto;
}

.shutter {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    margin-bottom: 15px;
    margin-top: 10vh;
    border: 4px solid rgba(108, 108, 108, 0.7);
}

.focus-ring {
    position: absolute;
    width: 56px;
    height: 56px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
    animation: focusAnim 0.6s ease-out;
}

@keyframes focusAnim {
    0% {
        transform: scale(1.5);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* Gallery */
#galleryScreen {
    position: fixed;
    inset: 0;
    background: #000;
    color: #fff;
    padding: 16px;
    overflow: auto;
}

#galleryBack {
    position: fixed;
    left: 12px;
    top: 12px;
    padding: 8px 12px;
    border-radius: 8px;
}

#galleryGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 54px;
}

.gallery-item {
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 8px;
    object-fit: cover;
}

.hidden {
    display: none;
}