 /* Grundlayout */
 body {
     margin: 0;
     font-family: "Segoe UI", Arial, sans-serif;
     background: url("../data/images/bg.jpg");
     background-size: cover;
     backdrop-filter: blur(10px);
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     text-align: center;
 }

 section {
     background: rgba(0, 0, 0, 0.21);
     padding: 15px;
     margin: 15px;
     border-radius: 25px;
     text-align: left;
 }

 header img {
     width: 120px;
     height: auto;
     border-radius: 50%;
     border: solid 1px rgba(0, 0, 0, 0.267);
     box-shadow: #000000 5px 0 10px;
     margin-bottom: 1rem;
 }

 h1 {
     font-size: 2.5rem;
     margin: 0.5rem 0;
     color: white;
     text-shadow: #000000 10px 0 10px;
 }

 p {
     font-size: 1.1rem;
     max-width: 400px;
     margin-bottom: 2rem;
 }

 .buttons {
     margin-top: 30px;
     display: flex;
     gap: 30px;
     flex-wrap: wrap;
     justify-content: center;
 }

 .btn {
     background-color: rgba(0, 0, 0, 0.322);
     border: solid 1px rgba(0, 0, 0, 0.267);
     box-shadow: #000000 5px 0 10px;
     color: white;
     padding: 0.8rem 1.5rem;
     border-radius: 9999px;
     text-decoration: none;
     font-weight: bold;
     transition: all 0.3s ease;
 }

 .btn:hover {
     background-color: #00208986;
     transform: scale(1.05);
 }

 .btn-fake, .time-section {
     background-color: rgba(0, 0, 0, 0.158);
     border: solid 1px rgba(0, 0, 0, 0.267);
     box-shadow: #000000 5px 0 10px;
     padding: 0.6rem 1.2rem;
     border-radius: 9999px;
     text-decoration: none;
     font-weight: bold;
     transition: all 0.3s ease;
 }

 .time-section {
  /* position the div in center */
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}

 footer {
     position: absolute;
     bottom: 1rem;
     font-size: 0.9rem;
     color: white;
 }

 footer a {
     text-decoration: none;
     color: rgb(218, 218, 218);
     font-weight: bold;
 }